<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/css.css" type="text/css" media="screen"/>
    <script type="text/javascript" src="js/index.js"/>
    <title>Demo</title>
</head>
<body>
<div id="container-inner">
    <div id="contents">
        <table>
            <thead>
                <th>No</th>
                <th>Data</th>
            </thead>
            <tr th:each="d : ${msg}">
                <td><span th:text="${d.no}"/></td>
                <td><span th:text="${d.message}"/></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>