<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" href="webjars/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <title>Demo</title>
</head>
<body>
<div id="container-inner">
    <h2>thymeleaf demo</h2>
    <div id="contents">
        <table>
            <thead>
                <th>No</th>
                <th>Data</th>
            </thead>
            <tr th:each="d : ${msg}">
                <td><span th:text="${d.no}"/></td>
                <td><span th:text="${d.message}"/></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>